<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: #4CAF50;
        }
    </style>
</head>

<body>

    <ul>
        <li><a href="Homepage">Homepage</a></li>
        <li><a class="active" href="nasa">nasa</a></li>
        <li><a href="card">card</a></li>
    </ul>
    <h1>Welcome to Nasa!</h1>
    <img src="https://apod.nasa.gov/apod/image/1904/M81salvatore1024.jpg" alt="Image">
    <img src="https://api.nasa.gov/images/getting_started_use" alt="Image2">
    <button id="myButton" class="float-left submit-button" >Nasa</button>
    <script type="text/javascript">
        document.getElementById("myButton").onclick = function () {
            location.href = "http://jsonplaceholder.typicode.com/photos";
        };
    </script>

</body>
    {{> cfooter}}
</html>
